.head_account{
    display: flex;
    flex-direction: column;
    gap: 1vh;
    margin: 0;
    text-align: center;
}

.head_account h1{
    margin: 0;
}
.order{
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.order h2{
    margin-top: 5vh;
}