.container_cards{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 10px;
}
@media (max-width: 610px) {
    .container_cards{
        flex-direction: column;
        gap: 10px;
    }
}